*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
.contents1{
    font-size: 20px;
    font-weight: lighter;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.contents3{
    font-size: 14px;
    font-weight: 100;
}
.result{
    font-size: 24px;
}
.intro_bg{
    background-image:url(image/intro.png);
    width: 100%;
    height: 500px;
}
.notify_bg{
    background-image:url(image/intro.png);
    width: 100%;
    height: 300px;
}
.header{
    width: 1280px;
    height: 86px;
    margin: auto;
    display: flex;
}
.search_area{
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin-top: 24px;
}
.search_area>form>input{
    border: none;
    width: 250px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    color: white;
    padding-left: 10px;
}
.search_area>form>span{
    width: 50px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: flex-end;
    width: 980px;
    line-height: 86px;
}

.nav>li{
    margin-left: 84px;
}
.nav>li>a{
    color: white;
}
.intro_text{
    width: 100%;
    margin: 140px auto 140px auto;
    text-align: center;
}
.notify_text{
    width: 100%;
    margin: 40px auto 40px auto;
    text-align: center;
}
.intro_text>h1,
.intro_text>h4{
    color: white; 
}
.notify_text>h1,
.notify_text>h4{
    color: white; 
}
.amount{
    width: 1280px;
    display: flex;
    margin: auto;
    position: relative;
    top: -66px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.amount2{
    width: 1280px;
    height: 250px;
    display: flex;
    margin: auto;
    position: relative;
    top: -40px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.amount2 .contents1{
    font-size: 24px;
    font-weight: bold;
}
.amount2 .result{
    font-size: 18px;
    margin-top: 15px;
    font-weight: lighter;
}
.amount>li>div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
}
.amount2>li>div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
}
.amount>li:not(:last-child)>div{
    border-right: 1px solid #e1e1e1;
}
.amount2>li:not(:last-child){
    border-right: 1px solid #e1e1e1;
}
.amount>li{
    flex: 1;
    height: 132px;
}
.amount2>li{
    flex: 1;
    height: 250px;  
}
.main_text0{
    width: 100%;
    height: 600px;
    margin-top: -132px;
    background: rgb(255, 246, 227);
}
.main_text0>h1{
    padding-top: 110px;
    text-align: center;
}
.main_text0>.contents1{
    text-align: center;
}
.icons{
    display: flex;
    width: 1280px;
    margin: auto;
}
.icons>li{
    flex: 1;
    height: 302px;
    margin-top: 49px;
    background:white;
    text-align: center;
}
.icons>li>.icon_img{
    margin-top: 36px;
}
.icons>li:not(:last-child){
    margin-right: 20px;
}
.icons .contents3{
    width: 190px;
    margin: auto;
    letter-spacing: -1px;/*글자 사이의 간격을 좁혀준다*/
}
.more>button{
    width: 100px;
    height: 30px;
    background: #2f7af4;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
    outline: 0;
    border-color: #2f7af4;
    cursor: pointer;
}
.more>button>a{
    color: white;
}
.main_text1{
    width: 100%;
    height: 600px;
    margin-top: -132px;
    background: rgb(255, 246, 227);
}
.login_form{
    position: relative;
    width: 400px;
    left: 550px;
    /* z-index: 2; */
}
.login_form h1{
    font-size: 42px;
    text-align: center;
    margin-bottom: 60px;
}
.int_area{
    position: relative;
    width: 400px;
    margin-top: 20px;
}
.int_area:first-child{
    margin-top: 0;
}
.int_area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 18px;
    color: black;
    outline: none;
}

.int_area label{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}
.bir_dd label{
    position: absolute;
    left: 230px;
    top: 20px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}
.int_area input:focus + label,
.int_area input:valid + label{
    top: 0;
    font-size: 13px;
    color: black;
}
.btn_area{
    margin-top: 30px;
}
.btn_area button{
    width: 100%;
    height: 50px;
    background: #2f7af4;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.caption{
    margin-top: 20px;
    text-align: center;
}
.caption a{
    font-size: 15px;
    color:gray;
    text-decoration: none;
}
nav{
    background: rgb(255, 246, 227);
    border-right: 1px solid lightgray;
    width: 200px;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}
 .main_text2{
    display: flex;
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px;
}  
.main_text2 h1{
    text-align: center;
} 
.side_menu li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
    text-align: center;
  }
 .side_menu li a:hover {
    background: #333;
    color: #fff;
  }
  .testtest{
      margin-left: 20px;
  }
  .main_text3{
    width: 100%;
    height: 600px;
    background: rgb(255, 246, 227);
  }
  .main_text4{
    width: 100%;
    height: 400px;
    margin-top: -250px;
    background: rgb(255, 246, 227);
  }
  .main_text3 h1{
      margin-left: 200px;
      font-size: 38px;
  }
  table{
      width: 100%;
      text-align: center;
  }
  table td:not(:last-child){
      border-right: 1px solid gray;
  }
  .signup_form{
    position: relative;
    width: 400px;
    left: 550px;
  }
  .signup_form h1{
      text-align: center;
  }
  .error{
    display: block;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
  }
  .bir_wrap{
      display: flex;
      position: relative;
      width: 400px;
      margin-top: 20px;
  }
  .main_text5{
    width: 100%;
    height: 800px;
    margin-top: -132px;
    background: rgb(255, 246, 227);
  }